<div class="upload">
<% if @uploads.size > 0 %>
<b>Total Uploaded: <%= pluralize(@uploads.size, "File") %></b>
<p>
	<ol>
	<% @uploads.each do |upload| %>
		<li class="<%= cycle('odd','even') %>">
		<%= upload.doc_file_name %> (<%= upload.doc_file_size %> bytes)
		<span style="float:right">
		<%= button_to "X", hospital_upload_path(:hospital_id => @hospital,:id => upload), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
		</span>
		</li>
	<% end %>
	</ol>
<% else %>
<b>Total Uploaded: 0 File</b>
<p>
<% end %>
</div>
<hr />		
